@model List<Fan>
<div class="row">
    <h1 style="text-align: center;">Results</h1>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid" style="float: right;">
        <form class="d-flex" role="search" asp-controller="Fan" asp-action="SearchFan">
          <input name="name" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" required>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>
</div>
<a asp-controller="School;" asp-action="Index">Back</a>
<table class="table" style="width: 100%;">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Users</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <th scope="col">@(i+1)</th>
                <th>@(Model[i].Name)</th>
                <th>@(Model[i].Discription)</th>
                <th>@(Model[i].FanUsers.Count)</th>
                <th><a class="btn btn-primary" type="button" asp-controller="Fan" asp-action="View" asp-route-id="@Model[i].Id">View</a></th>
            </tr>
        }
    </tbody>
</table>